/*.create-container {
  min-height: 100vh;
  background: #e2fddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.create-box {
  background: #c0bdbd;
  width: 350px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.create-box h2 {
  margin-bottom: 20px;
  color: #333;
}

.create-box input,
.create-box textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.create-box textarea {
  resize: none;
  height: 80px;
}

.create-box button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #54a1f4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.create-box button:hover {
  background: #75b1f1;
}
  */

.complaint-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 30px;
  background: #1e1e2f;
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.complaint-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.complaint-form input,
.complaint-form textarea,
.complaint-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.complaint-form textarea {
  resize: none;
  height: 100px;
}

.description-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 15px;
}

.description-footer button {
  background: #4caf50;
  border: none;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.location-box {
  display: flex;
  gap: 10px;
}

.location-box button {
  padding: 8px 12px;
  border: none;
  background: #2196f3;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

 .map-preview img{
  width:100%;
  border-radius:8px;
  margin-top:10px;
 }


.preview-img {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background: #ff5722;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn:hover {
  background: #e64a19;
}

.success-msg {
  background: #4caf50;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 15px;
}