.dashboard-layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background: #4b5581;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #d6e0ed;
  text-decoration: none;
}

.sidebar a:hover {
  color: #38bdf8;
}

.main-content {
  flex: 1;
  padding: 30px;
}

.form-card {
  max-width: 600px;
  background: #324563;
  padding: 20px;
  border-radius: 10px;
}

.btn-row {
  display: flex;
  gap: 8px;
  margin: 10px 0;
}