body{
margin:0;
font-family:Arial;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#124170;
color:white;
}

.navbar nav a{
margin-left:20px;
color:white;
text-decoration:none;
}

/* HERO */

.hero{
text-align:center;
padding:80px 20px;
background:#DDF4E7;
}

.report-btn{
margin-top:20px;
padding:12px 25px;
background:#67C090;
border:none;
color:white;
cursor:pointer;
border-radius:50px;
width : 25%;
}

/* FEATURES */

.features{
padding:60px 20px;
text-align:center;
}

.feature-container{
display:flex;
justify-content:center;
gap:20px;
margin-top:30px;
}

.feature-card{
background:white;
padding:20px;
width:200px;
border-radius:8px;
box-shadow:0 4px 10px rgba(160, 180, 247, 0.815);
}

/* CATEGORIES */

.categories{
text-align:center;
padding:60px 20px;
background:#f4f6f9;
}

.category-grid{
display:flex;
justify-content:center;
gap:20px;
margin-top:30px;
}

.category-card{
background:white;
padding:20px;
border-radius:8px;
box-shadow:0 4px 10px rgba(159, 179, 246, 0.785);
}

/* STATS */

.stats{
text-align:center;
padding:60px 20px;
}

.stats-container{
display:flex;
justify-content:center;
gap:40px;
margin-top:30px;
}

.stat-card{
background:#67C090;
color:white;
padding:20px;
border-radius:8px;
width:180px;
}

/* AI FEATURE */

.ai-feature{
text-align:center;
padding:60px 20px;
background:#DDF4E7;
}

/* CTA */

.cta{
text-align:center;
padding:60px 20px;
}

.cta button{
padding:12px 25px;
background:#124170;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

/* FOOTER */

.footer{
text-align:center;
background:#124170;
color:white;
padding:15px;
}