/* .login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #b0bdf0, #ffffff);
}

.login-card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.login-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.password-field {
  position: relative;
}

.show-btn {
  position: absolute;
  right: 10px;
  top: 8px;
  background: none;
  border: none;
  cursor: pointer;
  color: #6c8cff;
}

.extra-options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 15px;
}

.login-card button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  background: #6c8cff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.login-card button:disabled {
  background: #999;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
} */

.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

.auth-box {
  background: white;
  padding: 30px;
  width: 300px;
  border-radius: 8px;
  text-align: center;
}

.auth-box input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}

.auth-box button {
  width: 100%;
  padding: 8px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}